.navbar {
    overflow: auto;
}

.navbar a {
    font-family: Consolas ,Helvetica, sans-serif;
    float: right;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: white;
}

.logo {
    margin: 5px;
    overflow: auto;
    font-family: Consolas ,Helvetica, sans-serif;
    float: left;
    font-weight: bolder;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.logo:hover {
    color: white;
}

.dash {
    text-align: center;
    color: whitesmoke;
    font-family: Cascadia Code, Helvetica, sans-serif;
}

.spacing {
    padding: 2%;
}

.selection {
    background-color: transparent;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    text-align: center;
    color: black;
    font-family: Consolas, Helvetica, sans-serif;
}

.image {
    opacity: 0.75;
    background-color: #ff7675;
    box-shadow: 5px 10px 18px #34495e;
    position: relative;
    border-radius: 10px;
    flex: 29.5%;
    float:left;
}

.details {
    vertical-align: middle;
    background-color: #ff7675;
    box-shadow: 5px 10px 18px #34495e;
    opacity: 0.85;
    position: relative;
    border-radius: 10px;
    flex: 59.5%;
    color: black;
}

.middle {
    flex: 1%
}
